
body {
    background-color: #4eaebe;
    color: white;  
    font-family: Arial, ; 
}

/* Caso queira personalizar os textos em elementos específicos, como h1 */
h1 {
    color: white;
}

/* Também pode personalizar outros elementos como p, div, etc., se necessário */
p {
    color: white;
}

